@import url('https://fonts.googleapis.com/css?family=Open+Sans&display=swap');

:root {
  font-family: 'Open Sans', sans-serif;
  --accent: #00b0ac;
}

html,
body {
  height: 100%;
  width: 100%;
  margin: 0;
  padding: 0;
}

button {
  outline: none;
}

#map {
  height: 100%;
  width: calc(100% / 4 * 3);
  margin-left: calc(100% / 4);

  display: grid;
  background-color: lightgray;
}

#map > span {
  margin: auto;
}

#map > span > i {
  display: block;
  text-align: center;
  font-size: 4em;
}

#header {
  padding: 20px;
  text-align: center;
  box-shadow: 0 1px 10px -5px black;
  margin-bottom: 5px;
  font-weight: bold;
}

#header > button {
  background-color: white;
  border: 1px solid transparent;
}

#header > button:nth-child(2),
#header > button:nth-child(1) {
  float: left;
}

#header > button:nth-child(4) {
  float: right;
}

#header > span {
  width: 60vw;
  display: inline-block;
}

#content {
  position: relative;
  height: calc(100% - 75px);
  /* display: grid;
  grid-template-columns: 1fr 4fr; */
}

#content > #data {
  background-color: white;
  padding: 10px;
  transition: all 1s ease-in-out;
  width: calc(100% / 4);
  position: absolute;
  height: 100%;
  overflow-y: auto;
  z-index: 10;
}

#content > #data.home {
  width: 100%;
}

#content > #data > .loading6 {
  position: absolute;
  height: 100px;
  top: 50%;
  transform: translate(-50%, -50%);
  left: 50%;
}

#content > #data > div:not(.loading6):not(#aboutme-container) {
  background: url('./img/vote.jpg');
  background-repeat: no-repeat;
  background-position: center;
  background-size: cover;
  height: calc(100% + 20px);
  margin: -10px;
}

#content > #data > div > div {
  position: absolute;
  top: 50%;
  right: 0;
  padding: 50px;
  background-color: white;
  transform: translateY(-50%);
}

#content > #data > div > div > button {
  background-color: var(--accent);
  border: 2px solid var(--accent);
  padding: 5px 10px;
  color: white;
  font-weight: bold;
}

#content > #data > div > div > button:hover {
  background-color: white;
  color: var(--accent);
}

#content > #data > div > h1 {
  background-color: white;
  margin-right: 60vw;
  padding: 20px;
  margin: 0px 60vw 20px 0;
}

#content > #data > div:not(#aboutme-container) > span:nth-child(2) {
  margin-top: 25vh;
  padding-top: 20px;
}

#content > #data > div:not(#aboutme-container) > span:nth-child(4) {
  padding-bottom: 20px;
}

#content > #data > div:not(#aboutme-container) > span {
  display: block;
  color: white;
  background-color: var(--accent);
  margin-right: 40vw;
  padding: 5px 20px;
}

#content > #data > h2 {
  text-align: center;
}

#content > #data > span {
  text-align: center;
  display: block;
  color: gray;
  font-size: 0.8em;
  margin: -5px 0 10px;
}

#content > #data > button {
  padding: 5px;
  border: 1px solid lightgray;
  margin: 10px 0;
  cursor: pointer;
  width: 100%;
  background-color: white;
}

#content > #data > button:hover {
  background-color: lightgray;
}

#content > #data > button > span {
  display: block;
}

#content > #data > button > span:nth-child(2) {
  font-size: 0.8em;
}

#modal {
  position: absolute;
  top: 0;
  height: 100%;
  width: 100%;
  z-index: 100;
}

#modal > #bg {
  height: 100%;
  width: 100%;
  background-color: rgba(0, 0, 0, 0.5);
}

#modal-content {
  position: absolute;
  background-color: white;
  height: auto;
  padding: 20px;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%);
  border-radius: 10px;
}

.hidden {
  display: none;
}

#modal-header {
  position: relative;
}

#modal-header > h3 {
  padding-right: 50px;
}

#modal-header > button {
  position: absolute;
  top: 0;
  right: 0;
  background-color: white;
  border-radius: 50%;
  border: 1px solid gray;
  padding: 2px 10px 5px;
  color: gray;
}

#modal-header > button:hover {
  background-color: gray;
  color: white;
}

#modal-body {
  overflow-y: auto;
  max-height: 60vh;
}

#modal-body > span {
  display: block;
}

#modal-body > div {
  padding: 5px 70px 5px 10px;
}

#modal-body > div > span {
  display: block;
  line-height: 1em;
}

#modal-body > div > span:nth-child(2),
#modal-body > div > span:nth-child(3) {
  font-size: 0.8em;
  color: gray;
}

#content > #data > div#aboutme-container {
  text-align: center;
  padding: 20px;
  color: white;
  position: relative;
  margin-top: 30vh;
}

#content > #data > div#aboutme-container > a {
  color: lightgray;
  text-decoration: underline;
}

#content > #data > div#aboutme-container > span {
  display: block;
  text-shadow: 0 1px 8px black;
}

#content > #data > div#aboutme-container > span:nth-child(1) {
  font-size: 2em;
}

#content > #data > div#aboutme-container > svg {
  position: absolute;
  top: 0;
  left: 50%;
  z-index: -1;
  width: 500px;
  height: 300px;
  transform: translate(-50%, -20%);
}

@media only screen and (max-width: 600px) {
  #content {
    height: calc(100% - 95px);
  }

  #content > #data {
    width: 100%;
    height: calc(100% / 4);
    bottom: 0;
    display: inline-flex;
  }

  #content > #map {
    width: 100%;
    height: calc(100% / 4 * 3);
    margin-left: auto;
  }

  #content > #data.home {
    width: 100%;
    top: 0;
    height: 100%;
  }

  #content > #data > div:not(.loading6):not(#aboutme-container) {
    height: calc(100% + 150px);
  }

  #content > #data > div > h1 {
    margin: 0 100px 0 0;
    font-size: 2em;
  }

  #content > #data > div:not(#aboutme-container) > span {
    margin-right: auto;
    margin-left: 10vw;
  }

  #content > #data > div > span:nth-child(2) {
    margin-top: 5vh;
  }
  #content > #data > div > div {
    padding: 20px;
    width: 45vw;
    left: 0;
    bottom: 0;
    top: auto;
    position: relative;
    transform: none;
    margin-top: 30px;
  }

  #content > #data > span {
    padding: 20px;
    min-width: 150px;
    margin: auto;
  }

  #content > #data > * {
    margin: auto;
  }

  #content > #data > button {
    min-width: 200px;
    margin-right: 10px;
  }

  #modal-content {
    width: 80vw;
  }

  #content > #data > div#aboutme-container {
    margin: 20vh 10vw;
    transform: none;
    position: relative;
  }

  #content > #data > div#aboutme-container > svg {
    transform: translate(-50%, 0);
  }
}

@media only screen and (max-width: 360px) {
  #content > #data > div {
    height: calc(100% + 300px);
  }
}
